*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  .container{
    margin: 30px auto;
    background: #f5b0b0;
    height: 1200px;
    width: 1000px;
  }
  .header{
    height: 50px;
    width: auto;
    background: brown;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    display: flex;
  
  }
  .header ul{
    list-style: none;
      display: inline-flex;
      text-decoration: none;
  }
  .header ul li{
    
     width: auto;
     margin: 25px;
     padding: 12px;
     color: white;
  }
  .header ul li:hover{
     background-color: gold;
  }
  .header ul li a{
     text-decoration: none;
     color: white;
  }
  .Banner{
    height: 500px;
    width: auto;
    background: green;
    /* text-align: center;
    justify-content: center; */
   /* align-items: center; */
    display: flex;
    background-image: url(../HTML-Effects-Featured.jpg) ;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
  }
  .Banner p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding: 20px;
  }
  .Section-1{
    height: 250px;
    width: auto;
    background: burlywood;
    
  }
  .circle{
    border-radius: 100%;
    background: yellow;
    height: 200px;
    width:20%;
    background-repeat: no-repeat;
   background-size: cover;
  }
  .circleContainer{
    /* text-align: center; */
    justify-content: space-evenly;
   align-items: center;
    display: flex;
  }
  #circle-1{
  background-image: url(../R.jpeg);
  }
  #circle-2{
      background-image: url(../R2.jpg);
  }
  #circle-3{
      background-image: url(../R3.jpeg);
  }
  #circle-4{
      background-image: url(../R4.jpeg);
  }
  h2{
    text-align: center;
  }
  .Section-2{
    background: burlywood;
    height: 400px;
    width: auto;
  }
  .sec2container{
    display: inline-flex;
    height: 93%;
    width: 100%    ;
  }
  .main_content{
    height: 100%;
    width: 50%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background: chocolate;
    overflow: hidden;
  }
  .Article{
    width: 50%;
    height: 100%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Article1{
    width: 100%;
    height: 32%;
    background-color:brown;
   background-repeat: no-repeat;
   background-size: cover;
  
  }
  .Article-1{
    background-image: url(../OIP.jpeg);
    font-size:xx-large;
    text-align: center;
  }
  .Article-2{
    background-image: url(../project-management1.jpg);
    font-size:xx-large;
    text-align: center;
  }
  .Article-3{
    background-image: url(../190409_Blog_Feature_Project_Plan-1600x900.jpg);
    font-size:xx-large;
    text-align: center;
  }
  .Section-3{
    height: 350px;
    background: burlywood;
  }
  /* .card{
    height: 300px;
    width: 20%;
    background: cadetblue;
    
  } */
  .card{
    height: 320px;
    width: 20%;
    background: cadetblue;
  /* border: 10px white;
  margin: 10px black; */
  }
  .card h4{
    text-align: center;
    margin: 3px auto;
  }
  .card img{
      height:150px;
      width: 100%;
      padding: 10px black;
  }
  .card p{
    width: 90%;
    margin: 0px 15px;
  }
  .card a{
    display: block;
    text-align: center;
    background-color: red;
    padding: 8px;
    margin: 10px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
  }
  .card a:hover{
    background-color: blue;
  }
  .footer{
    height: 70px;
    background-color: darkblue;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Section-4{
    height: 100px;
    background: burlywood;
  }
  .footer p{
    color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
  }
  .show-btn ,.hide-btn{
    font-size: 30px;
    color: white;
    position:fixed;
    top: 30px;
    left: 50px;
  }
  .show-btn{
    float: right;
}

#check{
    position: absolute;
    visibility: hidden;
    z-index: -10;
}