*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.container{
  margin: 30px auto;
  background: #f5b0b0;
  height: 1200px;
  width: 1000px;
}
.header{
  height: 50px;
  width: auto;
  background: brown;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  display: flex;
}
.header p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.Banner{
  height: 250px;
  width: auto;
  background: green;
  text-align: center;
  justify-content: center;
 align-items: center;
  display: flex;
}
.Banner p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
.Section-1{
  height: 250px;
  width: auto;
  background: white;
  
}
.circle{
  border-radius: 100%;
  background: yellow;
  height: 200px;
  width:20%;
}

.circleContainer{
  /* text-align: center; */
  justify-content: space-evenly;
 align-items: center;
  display: flex;
}

h2{
  text-align: center;
}
.Section-2{
  background: white;
  height: 400px;
  width: auto;
}
.sec2container{
  display: inline-flex;
  height: 93%;
  width: 100%    ;
}
.main_content{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: chocolate;
}
.Article{
  width: 50%;
  height: 100%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Article1{
  width: 100%;
  height: 32%;
  background-color:brown;
}
.Section-3{
  height: 350px;
  background: burlywood;
}
.card{
  height: 300px;
  width: 20%;
  background: cadetblue;

}

.footer{
  height: 70px;
  background-color: darkblue;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}